<!DOCTYPE html5>
<html>
<head> <title>datos</title>
<link rel="stylesheet" href="{{url_for('static', filename='contenedor.css')}}"></head> 
<body class="contenedor">
{% if usuario == None %}

<h1 style='color:red'>no existe el ususario {{id}} </h1>
{%else%}
<div class="contenedor">
<h1 class="item">usuario con id: {{id}}</h1>
<h2 class="item">su nombre es: {{usuario}}  </h2>
<h2 class="item">su email es: {{email}}</h2>
<h2 class="item"> su direccion es: {{direccion}}</h2>
<h2 class="item">su telefono es: {{telefono}}</h2>
</div>
{% endif %}
<body>
<html>
